



.display-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

// NAVBAR
nav.navbar {
  padding: 5px 0px;
  box-shadow: 0px 2px 20px 0px #cbcbcb;

  .navbar-brand {
    margin-right: 50px;
  }

  .logo {
    width: 125px;
  }

  .navbar-nav {

    .nav-item {
      padding: 5px 10px;

      &.active {

        .nav-link {
          font-weight: 900;
          border-bottom: 3px solid $secondary-color;
        }
      }
    }

    .nav-link {
      padding: 5px;
      color: $secondary-color;
      text-transform: uppercase;
      @include transition(all, 0.5s, ease);

      &:hover {
        font-weight: 900;
        border-bottom: 3px solid $secondary-color;
      }
    }
  }
}
// NAVBAR



// Slider
.slider {

  .item {


    .box {
      @extend .display-flex;
      background-position: center center !important;
      background-repeat: no-repeat !important;
      background-size: cover !important;
      min-height: 550px;
      align-items: flex-end;
    }

    .box-container {
      width: 100%;
      padding-bottom: 100px;
    }


    .title {
      color: $main-color;
      font-size: 34px;
      text-transform: uppercase;
      background: white;
      padding: 5px 25px;
      font-style: italic;
    }

    .subtitle {
      color: white;
    }

    .text-btn {
      @extend .display-flex;
      align-items: center;
      color: white;
      font-size: 18px;

      .fa {
        font-size: 30px;
        margin-left: 15px;
      }
    }

  }
}
// Slider


// Socmed Sectionn
.socmed-section {
  background: #f0f3f9;
  text-align: center;
  font-size: 20px;

  .socmed-wrapper {
    @extend .display-flex;
    align-items: center;
    justify-content: space-evenly;


    .item {
      width: 50%;
      padding: 15px;
      font-weight: 700;
      @include transition(all, 0.5s, ease);

      &.fb {

        &:hover {
          background: #e2e9ff;
          color: $fb;
        }

      }

      &.ig {

        &:hover {
          background: #fceff5;
          color: $instagram;
        }

      }
    }
  }

  .circle {
    @extend .display-flex;
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid $main-color;
    @include transition(all, 0.5s, ease);

    &:hover {
      background: $main-color;

      .fa {
        color: $third-color;
      }
    }

    .fa {
      font-size: 75px;
      color: $main-color;
      @include transition(all, 0.5s, ease);
    }
  }
}

// Socmed Section


// FOOTER
#footer {
  background: $main-color;
  padding: 20px 0px;
  color: white;

  p {
    margin-bottom: 5px;
  }

  .list-wrapper {
    @extend .display-flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
  }

  .list {
    @extend .display-flex;
    padding: 0px;
    margin: 0px;
    list-style: none;

    .item {
      padding: 0px 10px;
      position: relative;

      &:after {
        content: '';
        border-right: 1px solid;
        position: absolute;
        height: 15px;
        top: 3px;
        left: 0px;
      }

      &:first-child {

        &:after {
          border: none;
        }
      }


      a {
        color: white;
      }
    }
  }
}

// FOOTER



.card-product {
  text-align: center;
  margin-bottom: 40px;

  .image-wrapper {
    border: 1px solid rgba($secondary-color, .2);
    padding: 15px;
    margin-bottom: 10px;
    overflow: hidden;

    .thumbnail {
      @include transition(all, 0.5s, ease);

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .name {
    display: block;
    font-size: 16px;
    font-weight: 700;
    color: $secondary-color;
    margin-bottom: 10px;
  }

  .size-list {
    padding: 0px;
    margin: 0px;
    list-style: none;
    @extend .display-flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: $secondary-color;

    .item {
      padding: 0px 7px;
      border-right: 1px solid;

      &:last-of-type {
        border-right: none;
      }
    }
  }
}



.card-blog {
  @extend .display-flex;
  background: white;
  align-items: center;
  margin-right: 75px;
  cursor: pointer;
  width: 500px;
  @include transition(all, 0.5s, ease);

  .thumb-wrapper {
    width: 40%;
  }

  .detail-wrapper {
    width: 60%;
    padding: 15px 25px;
  }

  .tag {
    font-size: 18px;
    font-weight: 900;
    color: $main-color;
  }

  .date {
    color: $secondary-color;
  }

  .title {
    display: block;
    margin-bottom: 30px;
  }

  .btn-wrapper {
    @extend .display-flex;
    justify-content: flex-end;
  }

  .text-btn {
    font-size: 12px;
    color: #b7b7b7;

    .fa {
      font-size: 14px;
    }
  }

}


.card-cta {
  position: relative;
  margin-bottom: 20px;

  .circle-wrapper {
    @extend .display-flex;
    position: relative;
    width: 130px;
    height: 130px;
    margin: auto;
    margin-top: -50px;
    align-items: center;
    justify-content: center;
    background: $third-color;
    border-radius: 50%;

    .icon {
      width: 75px;
    }
  }

  .detail-wrapper {
    display: block;
    background: $main-color-light;
    padding: 20px 20%;
    padding-top: 70px;
    text-align: center;
    color: white;
    margin-top: -60px;
    @include transition(all, 0.5s, ease);

    &:hover {
      background: $third-color;
      color: $main-color-light;

      .custom-line {
        border-color: $main-color-light;
      }
    }

    .custom-line {
      border-color: white;
      width: 240px;
      margin: 20px auto;
      @include transition(all, 0.5s, ease);
    }
  }
}



.default-banner {
  @extend .display-flex;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;

  .banner-wrapper {
    text-align: center;
    color: white;
    padding: 75px 0px;
  }

  .title {
    font-family: 'Bree Serif', serif;
    font-size: 42px;
  }

  .subtitle {
    font-size: 22px;
  }
}


.book-cta-wrapper {
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  text-align: center;
  color: white;
  padding: 75px 0px;

  .title {
    margin-bottom: 30px;
    font-weight: 600;
  }

  .third-btn {
    font-size: 16px;
    font-weight: 700;
    width: 275px;
    padding: 15px;
  }
}


// RESPONSIVE
@media screen and (max-width: 480px) {


}





















