#product {

  .nav-product {
    padding: 0px;
    margin: 0px;
    list-style: none;
    @extend .display-flex;
    justify-content: space-around;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid #d9dad9;
    margin-bottom: 20px;

    .item {
      padding: 5px 15px 10px;
      border-bottom: none;
      font-weight: 600;
      @include transition(all, 2s, ease);

      a {
        text-transform: uppercase;
      }

      &.active {
        border-bottom: 3px solid $main-color;
        font-weight: 700;
      }
    }
  }

  .nav-product-tag {
    padding: 0px;
    margin: 0px;
    list-style: none;
    @extend .display-flex;
    justify-content: center;
    font-size: 12px;
    margin-bottom: 50px;

    .item {
      padding: 0px 10px;

      &.active, &:hover {

        a {
          font-weight: 700;
        }
      }

      a {
        @include transition(all, 0.5s, ease);
      }
    }
  }

  .size-wrapper {
    padding: 0px;
    margin: 0px;
    list-style: none;
    @extend .display-flex;

    .item {
      cursor: pointer;
      padding: 5px 10px;
      margin-right: 10px;
      border: 1px solid;
      @include transition(all, 0.5s, ease);

      &:hover {
        background: $secondary-color;
        border-color: $secondary-color;
        color: white;
      }

      &.active {
        background: $secondary-color;
        border-color: $secondary-color;
        color: white;
      }
    }
  }


  .product-name {
    font-size: 42px;
    color: $main-color-light;
    margin-bottom: 0px;
  }

}