/**
 *  BUTTONS
 */


.btn {
  padding: 7.5px 12.5px;
  border-radius: 0px;
  background: $main-color;
  color: white;
  text-decoration: none;
  @include transition(all, 0.5s, ease);

  &:hover {
    color: white;
    text-decoration: none;
  }

  &:focus {
    color: white;
    text-decoration: none;
    outline: none;
  }

  &.light {
    background: $main-color-light;
  }

  &.dark {
    background: $main-color-dark;
  }

  &.disabled {
    cursor: default;
    opacity: .4;
    transform: none;
  }

  &.italic {
    font-style: italic;
  }
}


.secondary-btn {
  background: $secondary-color;
  color: white;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.main-btn {
  background: $main-color;
  color: white;
  width: 150px;
  font-weight: 700;

  &.transparent {
    background: transparent;
    border: 2px solid $main-color;
    color: $main-color;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }
}


.transparent-btn {
  background: transparent;
  border: 1px solid;

  &:hover {
    background: $third-color;
    color: $main-color;
  }
}

.third-btn {
  background: $third-color;
  color: $main-color;

  &:hover {
    background: $main-color;
    color: white;
  }
}

.text-btn {
  @extend .display-flex;
  align-items: center;
  color: $main-color;
  font-size: 18px;
  font-weight: 700;
  @include transition(all, 0.5s, ease);

  &:hover {
    color: $main-color;

    .fa {
      margin-left: 30px;
    }
  }

  .fa {
    font-size: 30px;
    margin-left: 15px;
    @include transition(all, 0.5s, ease);
  }
}


