/**
 *  VARIABLES
 *
 *  Configure library by adjusting this file
 *
 */
/**
 *  MEDIA QUERIES BREAKPOINTS
 */
/**
 * Library
 */
/**
 * MIXINS
 */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("https://fonts.googleapis.com/css?family=Bree+Serif");
@font-face {
  font-family: 'AleoLight';
  src: url("../../fonts/AleoLight.otf"); }
/**
 *  TYPOGRAPHY
 */
html, body {
  background-color: #ffffff;
  color: #4d4d4f;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px; }

p {
  margin-bottom: 10px;
  font-size: 14px; }

a {
  color: #4d4d4f;
  text-decoration: none !important; }
  a:hover {
    color: #4d4d4f; }
  a:focus {
    color: #4d4d4f; }

img {
  width: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300; }

/**
 *  BUTTONS
 */
.btn {
  padding: 7.5px 12.5px;
  border-radius: 0px;
  background: #680e28;
  color: white;
  text-decoration: none;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease; }
  .btn:hover {
    color: white;
    text-decoration: none; }
  .btn:focus {
    color: white;
    text-decoration: none;
    outline: none; }
  .btn.light {
    background: #87163c; }
  .btn.dark {
    background: #781b38; }
  .btn.disabled {
    cursor: default;
    opacity: .4;
    transform: none; }
  .btn.italic {
    font-style: italic; }
  .btn.btn-full {
    width: 100%;
    font-weight: 700; }
  .btn.form-btn {
    padding: 15px;
    width: 250px;
    font-weight: 700; }

.secondary-btn {
  background: #d3ae48;
  color: white; }
  .secondary-btn:focus {
    outline: none;
    box-shadow: none; }

.main-btn {
  background: #680e28;
  color: white;
  width: 150px;
  font-weight: 700; }
  .main-btn.transparent {
    background: transparent;
    border: 1px solid #680e28;
    color: #680e28; }
  .main-btn:focus {
    outline: none;
    box-shadow: none; }

.transparent-btn {
  background: transparent;
  border: 1px solid; }
  .transparent-btn:hover {
    background: #efddac;
    color: #680e28; }

.third-btn {
  background: #efddac;
  color: #680e28; }
  .third-btn:hover {
    background: #680e28;
    color: white; }

.text-btn {
  align-items: center;
  color: #680e28;
  font-size: 18px;
  font-weight: 700;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease; }
  .text-btn.small {
    font-size: 14px; }
    .text-btn.small .fa {
      font-size: 20px; }
  .text-btn:hover {
    color: #680e28; }
    .text-btn:hover .fa {
      margin-left: 30px; }
  .text-btn .fa {
    font-size: 30px;
    margin-left: 15px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease; }

/*!
 * Waves v0.6.0
 * http://fian.my.id/Waves
 *
 * Copyright 2014 Alfiana E. Sibuea and other contributors
 * Released under the MIT license
 * https://github.com/fians/Waves/blob/master/LICENSE
 */
.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  transition: .3s ease-out; }
  .waves-effect .waves-ripple {
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    opacity: 0;
    background: rgba(0, 0, 0, 0.2);
    transition: all 0.7s ease-out;
    transition-property: transform, opacity;
    transform: scale(0);
    pointer-events: none; }
  .waves-effect.waves-light .waves-ripple {
    background-color: rgba(255, 255, 255, 0.45); }
  .waves-effect.waves-red .waves-ripple {
    background-color: rgba(244, 67, 54, 0.7); }
  .waves-effect.waves-yellow .waves-ripple {
    background-color: rgba(255, 235, 59, 0.7); }
  .waves-effect.waves-orange .waves-ripple {
    background-color: rgba(255, 152, 0, 0.7); }
  .waves-effect.waves-purple .waves-ripple {
    background-color: rgba(156, 39, 176, 0.7); }
  .waves-effect.waves-green .waves-ripple {
    background-color: rgba(76, 175, 80, 0.7); }
  .waves-effect.waves-teal .waves-ripple {
    background-color: rgba(0, 150, 136, 0.7); }
  .waves-effect input[type="button"], .waves-effect input[type="reset"], .waves-effect input[type="submit"] {
    border: 0;
    font-style: normal;
    font-size: inherit;
    text-transform: inherit;
    background: none; }
  .waves-effect img {
    position: relative;
    z-index: -1; }

.waves-notransition {
  transition: none !important; }

.waves-circle {
  transform: translateZ(0);
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%); }

.waves-input-wrapper {
  border-radius: 0.2em;
  vertical-align: bottom; }
  .waves-input-wrapper .waves-button-input {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1; }

.waves-circle {
  text-align: center;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 50%;
  -webkit-mask-image: none; }

.waves-block {
  display: block; }

/* Firefox Bug: link not triggered */
.waves-effect .waves-ripple {
  z-index: -1; }

.display-flex, .text-btn, .slider .item .box, .slider .item .text-btn, .socmed-section .socmed-wrapper, .socmed-section .circle, #footer .list-wrapper, #footer .list, .card-product .size-list, .card-blog, .card-blog .btn-wrapper, .card-cta .circle-wrapper, .default-banner, .share-wrapper, .nav-custom-tabs, #home .course-wrapper .course-detail-slider .slick-slide .button-wrapper, #product .nav-product, #product .nav-product-tag, #product .size-wrapper, #about .nav, #about .nav .nav-link, #course .course-card, #course .course-card .img-wrapper, #blog .nav-category-tag, #contact .partner-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap; }

nav.navbar {
  padding: 5px 0px;
  box-shadow: 0px 2px 20px 0px #cbcbcb; }
  nav.navbar .navbar-brand {
    margin-right: 50px; }
  nav.navbar .logo {
    width: 125px; }
  nav.navbar .navbar-nav .nav-item {
    padding: 5px 10px; }
    nav.navbar .navbar-nav .nav-item.active .nav-link {
      font-weight: 900;
      position: relative; }
      nav.navbar .navbar-nav .nav-item.active .nav-link:before {
        content: '';
        width: 100%;
        left: 0;
        bottom: 0;
        position: absolute;
        border-bottom: 3px solid #d3ae48; }
  nav.navbar .navbar-nav .nav-link {
    padding: 5px;
    color: #d3ae48;
    text-transform: uppercase;
    position: relative;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease; }
    nav.navbar .navbar-nav .nav-link:before {
      content: '';
      width: 100%;
      left: 0;
      bottom: -15px;
      position: absolute;
      border-bottom: 3px solid transparent;
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease; }
    nav.navbar .navbar-nav .nav-link:hover:before {
      bottom: 0;
      border-color: #d3ae48; }

.slider .item .box {
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  min-height: 550px;
  align-items: flex-end; }
.slider .item .box-container {
  width: 100%;
  padding-bottom: 100px; }
.slider .item .title {
  color: #680e28;
  font-size: 34px;
  text-transform: uppercase;
  background: white;
  padding: 5px 25px;
  font-style: italic; }
.slider .item .subtitle {
  color: white; }
.slider .item .text-btn {
  align-items: center;
  color: white;
  font-size: 18px; }
  .slider .item .text-btn .fa {
    font-size: 30px;
    margin-left: 15px; }

.socmed-section {
  background: #f0f3f9;
  text-align: center;
  font-size: 20px; }
  .socmed-section .socmed-wrapper {
    align-items: center;
    justify-content: space-evenly; }
    .socmed-section .socmed-wrapper .item {
      width: 50%;
      padding: 15px;
      font-weight: 700;
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease; }
      .socmed-section .socmed-wrapper .item.fb:hover {
        background: #e2e9ff;
        color: #3b59b6; }
      .socmed-section .socmed-wrapper .item.ig:hover {
        background: #fceff5;
        color: #c11c78; }
  .socmed-section .circle {
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #680e28;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease; }
    .socmed-section .circle:hover {
      background: #680e28; }
      .socmed-section .circle:hover .fa {
        color: #efddac; }
    .socmed-section .circle .fa {
      font-size: 75px;
      color: #680e28;
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease; }

#footer {
  background: #680e28;
  padding: 20px 0px;
  color: white; }
  #footer p {
    margin-bottom: 5px; }
  #footer .list-wrapper {
    justify-content: flex-end;
    align-items: center;
    height: 100%; }
  #footer .list {
    padding: 0px;
    margin: 0px;
    list-style: none; }
    #footer .list .item {
      padding: 0px 10px;
      position: relative; }
      #footer .list .item:after {
        content: '';
        border-right: 1px solid;
        position: absolute;
        height: 15px;
        top: 3px;
        left: 0px; }
      #footer .list .item:first-child:after {
        border: none; }
      #footer .list .item a {
        color: white; }

.card-product {
  text-align: center;
  margin-bottom: 40px; }
  .card-product .image-wrapper {
    border: 1px solid rgba(211, 174, 72, 0.2);
    padding: 15px;
    margin-bottom: 10px;
    overflow: hidden; }
    .card-product .image-wrapper .thumbnail {
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease; }
      .card-product .image-wrapper .thumbnail:hover {
        transform: scale(1.1); }
  .card-product .name {
    display: block;
    font-size: 16px;
    font-weight: 700;
    color: #d3ae48;
    margin-bottom: 10px; }
  .card-product .size-list {
    padding: 0px;
    margin: 0px;
    list-style: none;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #d3ae48; }
    .card-product .size-list .item {
      padding: 0px 7px;
      border-right: 1px solid; }
      .card-product .size-list .item:last-of-type {
        border-right: none; }

.card-blog {
  background: white;
  align-items: center;
  margin-right: 75px;
  cursor: pointer;
  width: 500px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease; }
  .card-blog .thumb-wrapper {
    width: 40%; }
  .card-blog .detail-wrapper {
    width: 60%;
    padding: 15px 25px; }
  .card-blog .tag {
    font-size: 18px;
    font-weight: 900;
    color: #680e28; }
  .card-blog .date {
    color: #d3ae48; }
  .card-blog .title {
    display: block;
    margin-bottom: 30px; }
  .card-blog .btn-wrapper {
    justify-content: flex-end; }
  .card-blog .text-btn {
    font-size: 12px;
    color: #b7b7b7; }
    .card-blog .text-btn .fa {
      font-size: 14px; }

.card-cta {
  position: relative;
  margin-bottom: 20px; }
  .card-cta .circle-wrapper {
    position: relative;
    width: 130px;
    height: 130px;
    margin: auto;
    margin-top: -50px;
    align-items: center;
    justify-content: center;
    background: #efddac;
    border-radius: 50%; }
    .card-cta .circle-wrapper .icon {
      width: 75px; }
  .card-cta .detail-wrapper {
    display: block;
    background: #87163c;
    padding: 20px 20%;
    padding-top: 70px;
    text-align: center;
    color: white;
    margin-top: -60px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease; }
    .card-cta .detail-wrapper:hover {
      background: #efddac;
      color: #87163c; }
      .card-cta .detail-wrapper:hover .custom-line {
        border-color: #87163c; }
    .card-cta .detail-wrapper .custom-line {
      border-color: white;
      width: 240px;
      margin: 20px auto;
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease; }

.default-banner {
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important; }
  .default-banner .banner-wrapper {
    text-align: center;
    color: white;
    padding: 75px 0px; }
  .default-banner .title {
    font-family: 'Bree Serif', serif;
    font-size: 42px; }
  .default-banner .subtitle {
    font-size: 22px; }

.book-cta-wrapper {
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  text-align: center;
  color: white;
  padding: 75px 0px; }
  .book-cta-wrapper .title {
    margin-bottom: 30px;
    font-weight: 600; }
  .book-cta-wrapper .third-btn {
    font-size: 16px;
    font-weight: 700;
    width: 275px;
    padding: 15px; }

.select2-container--default .select2-selection--single {
  padding: 10px 20px;
  height: auto;
  background-color: #fffef6;
  border-color: #ced4da; }
  .select2-container--default .select2-selection--single:focus {
    border-color: #d3ae48;
    outline: none; }

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 1.5;
  padding: 0px;
  color: #969696; }

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 100%; }

.slick-slide:focus {
  outline: none; }

.slick-dots {
  bottom: -50px; }
  .slick-dots li {
    background: rgba(255, 255, 255, 0.5);
    width: 10px;
    height: 10px;
    border-radius: 50%; }
    .slick-dots li.slick-active {
      background: #d3ae48; }

.default-section {
  padding: 50px 0px; }

.gray-section {
  background: #ebe5d8; }

.default-title {
  font-size: 40px;
  color: #781b38;
  margin-bottom: 30px;
  font-family: 'AleoLight'; }
  .default-title.secondary {
    color: #d3ae48; }
  .default-title.white {
    color: white; }

.default-subtitle {
  font-size: 28px;
  font-weight: 900; }
  .default-subtitle.small {
    font-size: 21px; }
  .default-subtitle.secondary {
    color: #d3ae48; }

.default-summary {
  font-size: 16px;
  line-height: 34px; }

.container.small {
  width: 65%; }
  @media (max-width: 480px) {
    .container.small {
      width: auto; } }

.gplus-hover {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease; }
  .gplus-hover:hover {
    color: #d73d32; }

.fb-hover {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease; }
  .fb-hover:hover {
    color: #3b59b6; }

.ig-hover {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease; }
  .ig-hover:hover {
    color: #c11c78; }

.twitter-hover {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease; }
  .twitter-hover:hover {
    color: #4099ff; }

.bold {
  font-weight: 900; }

.share-wrapper {
  padding: 0px;
  margin: 0px;
  list-style: none;
  margin-bottom: 30px;
  font-size: 20px; }
  .share-wrapper .item {
    margin-right: 20px; }

.side-wrapper {
  background: #f4eedf;
  padding: 10px 20px;
  font-weight: 700;
  min-height: 425px; }
  .side-wrapper p {
    margin-bottom: 25px; }
  .side-wrapper label {
    margin-bottom: 0px;
    font-size: 16px;
    color: #9f7d5b; }
  .side-wrapper .price {
    color: #87163c;
    font-size: 26px;
    margin-bottom: 0px; }

.label-form {
  color: #d3ae48;
  position: absolute;
  top: 0px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease; }
  .label-form.active {
    top: -25px; }

input.custom-control {
  height: 40px; }

.custom-control {
  border-radius: 0px;
  border-color: rgba(104, 14, 40, 0.3); }
  .custom-control:focus {
    outline: none;
    box-shadow: none;
    border-color: rgba(104, 14, 40, 0.3); }

.nav-custom-tabs {
  padding: 0px;
  margin: 0px;
  list-style: none;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  border-bottom: 1px solid #d9dad9;
  margin-bottom: 20px; }
  .nav-custom-tabs .item {
    padding: 5px 15px 0px;
    margin: 0px 15px;
    border-bottom: none;
    font-weight: 600; }
    .nav-custom-tabs .item .nav-link {
      border: none;
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease; }
      .nav-custom-tabs .item .nav-link.active {
        border-bottom: 3px solid #680e28;
        font-weight: 700; }

.modal .body-wrapper {
  text-align: center;
  padding: 50px 0px 15px; }
  .modal .body-wrapper .icon {
    width: 110px;
    margin-bottom: 15px; }
  .modal .body-wrapper .summary {
    margin-bottom: 30px; }
  .modal .body-wrapper .text-btn {
    color: #a2a1a1;
    justify-content: center;
    margin-bottom: 30px; }
  .modal .body-wrapper .share-wrapper {
    margin-bottom: 0px;
    justify-content: center; }
    .modal .body-wrapper .share-wrapper .item {
      padding: 0px 15px;
      margin: 0px; }
  .modal .body-wrapper .small-text {
    font-size: 12px;
    margin-bottom: 0px; }

#home .banner {
  position: relative; }
  #home .banner .lSSlideOuter .lSPager.lSpg {
    position: absolute;
    width: 100%;
    bottom: 15px; }
    #home .banner .lSSlideOuter .lSPager.lSpg > li a {
      background-color: rgba(255, 255, 255, 0.3);
      width: 35px;
      height: 5px; }
    #home .banner .lSSlideOuter .lSPager.lSpg > li.active a {
      background-color: white; }
    #home .banner .lSSlideOuter .lSPager.lSpg > li:hover a {
      background-color: white; }
  #home .banner .lSAction > a {
    background: none;
    width: auto;
    height: auto;
    top: 45%; }
    #home .banner .lSAction > a.lSPrev {
      left: 30px; }
    #home .banner .lSAction > a.lSNext {
      right: 30px; }
    #home .banner .lSAction > a .custom-prev-html, #home .banner .lSAction > a .custom-next-html {
      display: block;
      font-size: 70px;
      color: white; }
#home .course-wrapper .top-wrapper {
  padding: 20px 0px;
  background: #680e28;
  color: white; }
#home .course-wrapper .bottom-wrapper {
  padding: 40px 0px 0px;
  background: #87163c;
  color: white; }
#home .course-wrapper .container.small {
  width: 40%;
  margin: auto; }
  @media (max-width: 480px) {
    #home .course-wrapper .container.small {
      width: 85%; } }
#home .course-wrapper .course-date-slider .slick-slide {
  text-align: center;
  cursor: pointer;
  padding: 0px 30px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease; }
  #home .course-wrapper .course-date-slider .slick-slide.slick-center h3 {
    transform: scale(1.4);
    opacity: 1; }
  #home .course-wrapper .course-date-slider .slick-slide:focus {
    outline: none; }
  #home .course-wrapper .course-date-slider .slick-slide h3 {
    font-size: 12px;
    opacity: 0.5;
    margin-bottom: 0px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease; }
#home .course-wrapper .course-detail-slider {
  font-family: 'Open Sans', 'sans-serif'; }
  #home .course-wrapper .course-detail-slider .slick-slide:focus {
    outline: none; }
  #home .course-wrapper .course-detail-slider .slick-slide .wrapper {
    position: relative;
    margin-left: 50px;
    margin-bottom: 20px; }
    #home .course-wrapper .course-detail-slider .slick-slide .wrapper:after {
      content: '';
      position: absolute;
      height: 75px;
      width: 2px;
      margin: 0px;
      top: 0px;
      right: -15px;
      border-right: 1px solid rgba(255, 255, 255, 0.5); }
  #home .course-wrapper .course-detail-slider .slick-slide .title {
    margin-bottom: 0px; }
  #home .course-wrapper .course-detail-slider .slick-slide .icon {
    position: absolute;
    width: 25px;
    left: -40px; }
  #home .course-wrapper .course-detail-slider .slick-slide .button-wrapper {
    justify-content: space-between;
    margin-top: 25px; }
    #home .course-wrapper .course-detail-slider .slick-slide .button-wrapper .btn {
      padding: 15px 25px;
      font-size: 15px;
      font-weight: 700;
      margin-bottom: 15px; }
#home .about-wrapper {
  padding-top: 75px; }
#home .blog-wrapper {
  padding: 50px 0px;
  background-position: center center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important; }
  #home .blog-wrapper .slick-prev, #home .blog-wrapper .slick-next {
    z-index: 100; }
    #home .blog-wrapper .slick-prev:before, #home .blog-wrapper .slick-next:before {
      font-size: 40px;
      color: #d3ae48; }
  #home .blog-wrapper .slick-prev {
    left: 10px; }
  #home .blog-wrapper .slick-next {
    right: 30px; }
  #home .blog-wrapper .slick-list {
    overflow: unset; }
  #home .blog-wrapper .slick-slide.slick-center .card-blog {
    transform: scale(1.1); }

#product .nav-product {
  padding: 0px;
  margin: 0px;
  list-style: none;
  justify-content: space-around;
  font-size: 16px;
  font-weight: 600;
  border-bottom: 1px solid #d9dad9;
  margin-bottom: 20px; }
  #product .nav-product .item {
    padding: 5px 15px 10px;
    border-bottom: none;
    font-weight: 600;
    transition: all 2s ease;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease; }
    #product .nav-product .item.active {
      border-bottom: 3px solid #680e28;
      font-weight: 700; }
#product .nav-product-tag {
  padding: 0px;
  margin: 0px;
  list-style: none;
  justify-content: center;
  font-size: 12px;
  margin-bottom: 50px; }
  #product .nav-product-tag .item {
    padding: 0px 10px; }
    #product .nav-product-tag .item.active a, #product .nav-product-tag .item:hover a {
      font-weight: 700; }
    #product .nav-product-tag .item a {
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease; }
#product .size-wrapper {
  padding: 0px;
  margin: 0px;
  list-style: none; }
  #product .size-wrapper .item {
    cursor: pointer;
    padding: 5px 10px;
    margin-right: 10px;
    border: 1px solid;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease; }
    #product .size-wrapper .item:hover {
      background: #d3ae48;
      border-color: #d3ae48;
      color: white; }
    #product .size-wrapper .item.active {
      background: #d3ae48;
      border-color: #d3ae48;
      color: white; }
#product .product-name {
  font-size: 42px;
  color: #87163c;
  margin-bottom: 0px; }

#about .advantage-wrapper {
  text-align: center;
  margin-bottom: 30px; }
  #about .advantage-wrapper .icon {
    width: 100px;
    margin-bottom: 30px; }
  #about .advantage-wrapper .name {
    color: #7c7c7c; }
#about .chef-wrapper {
  position: relative;
  width: 250px;
  margin: auto;
  overflow: hidden;
  margin-bottom: 30px; }
  #about .chef-wrapper:hover .overlay {
    background: transparent; }
  #about .chef-wrapper:hover .chef-link {
    bottom: 0px; }
  #about .chef-wrapper .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease; }
  #about .chef-wrapper .chef-link {
    position: absolute;
    bottom: -100px;
    font-size: 24px;
    color: white;
    font-weight: 600;
    display: block;
    padding: 5px 20px;
    background: #0000007d;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease; }
#about .nav {
  margin-bottom: 50px;
  border: none;
  font-size: 14px;
  width: 100%;
  align-items: center;
  justify-content: center; }
  #about .nav .nav-link {
    padding: 0px;
    margin: 0px 15px;
    width: 60px;
    height: 60px;
    border: 1px solid #d3ae48;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease; }
    #about .nav .nav-link.active {
      background: #d3ae48;
      color: white; }
    #about .nav .nav-link:hoverroutes {
      background: #d3ae48;
      color: white; }
#about .tab-content {
  text-align: center;
  width: 50%;
  margin: auto; }
  @media (max-width: 480px) {
    #about .tab-content {
      width: 100%; } }

#course .course-detail-wrapper {
  font-size: 18px; }
  #course .course-detail-wrapper p {
    font-size: 18px; }
#course .form-group {
  margin-bottom: 35px;
  position: relative; }
#course .course-card {
  border: 1px solid #dccda7;
  margin-bottom: 30px; }
  #course .course-card .img-wrapper {
    width: 30%; }
    @media (max-width: 480px) {
      #course .course-card .img-wrapper {
        width: 100%; } }
    #course .course-card .img-wrapper .img {
      height: 100%; }
  #course .course-card .detail-wrapper {
    width: 70%;
    padding: 15px;
    position: relative; }
    @media (max-width: 480px) {
      #course .course-card .detail-wrapper {
        width: 100%; } }
    #course .course-card .detail-wrapper .date {
      color: #d3ae48;
      font-size: 14px;
      margin-right: 15px; }
    #course .course-card .detail-wrapper .author {
      font-size: 14px;
      font-weight: 700; }
    #course .course-card .detail-wrapper .name {
      color: #680e28;
      font-weight: 700;
      font-size: 16px;
      margin-bottom: 10px;
      display: block; }
    #course .course-card .detail-wrapper .text-btn {
      position: absolute;
      right: 50px;
      bottom: 15px;
      color: #adadad; }
      @media (max-width: 480px) {
        #course .course-card .detail-wrapper .text-btn {
          position: unset;
          text-align: right;
          display: block; } }
      #course .course-card .detail-wrapper .text-btn:hover .fa {
        margin-left: 15px; }

#blog .nav-category-tag {
  padding: 0px;
  margin: 0px;
  list-style: none;
  justify-content: center;
  font-size: 14px;
  margin-bottom: 50px; }
  #blog .nav-category-tag .item {
    padding: 0px 10px; }
    #blog .nav-category-tag .item.active a, #blog .nav-category-tag .item:hover a {
      color: #d3ae48;
      border: 1px solid #d3ae48; }
    #blog .nav-category-tag .item a {
      font-weight: 700;
      padding: 2px 12px;
      border-radius: 20px;
      border: 1px solid transparent;
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease; }
#blog .card-blog {
  margin-right: 0px;
  width: auto;
  margin-bottom: 30px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease; }
  #blog .card-blog:hover {
    box-shadow: 0px 0px 20px 2px #acacac; }
#blog .blog-detail-wrapper p {
  font-size: 16px;
  margin-bottom: 25px; }

#contact .form-group {
  margin-bottom: 35px;
  position: relative; }
#contact .info-wrapper .label {
  font-size: 14px;
  color: #947b37;
  font-weight: 700;
  margin-bottom: 0px; }
#contact .info-wrapper p {
  margin-bottom: 20px; }
#contact .partner-wrapper {
  align-items: center;
  width: 70%;
  margin: auto; }
  @media (max-width: 480px) {
    #contact .partner-wrapper {
      width: 90%; } }
  #contact .partner-wrapper .partner-card {
    position: relative;
    padding: 15px;
    width: 50%; }
    @media (max-width: 480px) {
      #contact .partner-wrapper .partner-card {
        width: 100%; } }
    #contact .partner-wrapper .partner-card .name {
      color: #680e28;
      font-weight: 700;
      font-size: 16px;
      margin-bottom: 15px; }
    #contact .partner-wrapper .partner-card p {
      margin-bottom: 0px; }
    #contact .partner-wrapper .partner-card .text-btn {
      position: absolute;
      right: 15px;
      bottom: 15px; }
      #contact .partner-wrapper .partner-card .text-btn.small {
        font-size: 11px; }

/*# sourceMappingURL=style.css.map */
